<div class="hero-unit">
	<h1>Hey, <%= @user.email %></h1>
	<%= form_for @profile do %>
		<p>roqbox.net/<%= text_field_tag(:slug,"",:class=>"span4") %></p>
		<p><%= submit_tag("create new profile",:class=>"btn btn-primary") %></p>
	<% end %>
</div>

<div class="tool_box">
	<% @user.created_profiles.each do |created_profile| %>
	<%= render :partial => 'shared/dashboard_profile', :object => created_profile, :as => :profile %>
	<% end %>
</div>